.bg {
    background-image: url(../../image/bg-slider.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    .form-login {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 70px;
        background: #fff0;
        border-radius: 20px;
        margin-top: auto;
        margin-bottom: auto;
        .failure {
            display: block;
            color: $red;
            margin-bottom: 5px;
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
    .bg {
        background-image: none !important;
        .form-login {
            margin: 0px !important;
        }
    }
}
